
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');


header {
    font-size: 1.5rem;
    color: #007489;
    padding: 1em;
    margin: 2px;
    font-family: 'Patua One', sans-serif;
   
  }
